@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Palet Warna User - Corporate Djarum Theme */
  --c-navy: #162B52;     /* Dominan */
  --c-azure: #0068C7;    /* Aksen 1 */
  --c-orange: #FF8817;   /* Aksen 2 */
  --c-red: #EE1C25;      /* Alert */

  --background: #FFFFFF;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
